body {
  background-color: #0f0f0f;
  color: white;
}
#title {
  color: white;
}
#navmenu {
  float: right;
  margin-top: -0.6rem;
}
#musician {
  margin: 2rem;
  color: white;
}
#stones {
  margin: 2rem;
  color: white;
}
#playlist {
  margin: 2rem;
  color: white;
}

#nav {
  background-color: black;
  text-decoration: none;
  padding: 2rem;
  border-bottom: 1px solid #333333;
}
#mypage {
  text-align: center;
  color: white;
}
#mypageaccount {
  color: white;
}
#nav-stones-btn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.editbtn {
  margin: 1rem;
  padding: 0.5rem 2rem;
  border: 0;
  outline: 0;
  background-color: white;
  color: black;
}
.tokenbtn {
  padding: 0.5rem 2rem;
  border: 0;
  outline: 0;
  background-color: white;
  color: black;
}
#connect {
  color: white;
  padding-left: 0.5rem;
}
#icon {
  color: white;
  vertical-align: middle;
}
#Edit {
  text-align: center;
  margin-top: 5rem;
  color: white;
}
#register {
  color: white;
}
#registerpage {
  text-align: center;
  margin-top: 5rem;
  color: white;
}
#stoneregisterpage {
  text-align: center;
  margin-top: 5rem;
  color: white;
}
#buytokenpage {
  text-align: center;
  margin-top: 5rem;
  color: white;
}
#mainpage {
  text-align: center;
  color: white;
  margin-top: 3rem;
}
#playlistpage {
  text-align: center;
  color: white;
  margin-top: 5rem;
}
#isPlay {
  margin: 1rem;
}
#maintext {
  text-align: left;
  padding: 1rem 17rem;
}
#observer {
  white-space: pre;
}
#playlisttext {
  font-size: 2rem;
  margin-bottom: 2rem;
}
#registeralbumpage {
  text-align: center;
  margin-top: 3rem;
}
.albumbtn {
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 2rem;
  border: 0;
  outline: 0;
  background-color: white;
  color: black;
  vertical-align: middle;
}
.line {
  margin-top: 5rem;
  width: 45rem;
}

.selectbox {
  text-align: center;
  margin: 0.2rem;
  font-size: 1rem;
  padding: 0.3rem 5.6rem;
}
.Aselectbox {
  text-align: center;
  margin: 0.2rem;
  font-size: 1rem;
  padding: 0.3rem 8.2rem;
}
.logo {
  width: 30px;
  margin-right: 0.5rem;
  vertical-align: middle;
  position: relative;
  color: white;
}
.categorytext {
  margin: 1rem;
}
.fileinput {
  text-align: center;
  margin: 1rem;
  margin-left: 6rem;
}
.lyricsinput {
  font-size: 1rem;
  text-align: left;
  width: 20rem;
  padding: 1rem 5rem 15rem 1rem;
  margin: 1rem;
}
.text {
  margin: 0.5rem;
}
.tokentext {
  margin: 1rem;
}
.pagetitle {
  font-size: 2rem;
  margin: 1rem;
}
.nav-dropdown {
  position: relative;
  display: inline-block;
}
.nav-dropdown:hover .nav-dropdown-content {
  display: block;
}
.nav-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.nav-dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.nav-dropdown-content div:hover {
  background-color: #ddd;
}
.musicianinfoinput {
  font-size: 1rem;
  text-align: left;
  width: 20rem;
  padding: 2rem 3rem;
  margin: 1rem;
}
.stoneinfoinput {
  font-size: 1rem;
  text-align: left;
  width: 20rem;
  padding: 1rem 5rem 4rem 1rem;
  margin: 1rem;
}
.musicianinput {
  font-size: 1rem;
  text-align: center;
  width: 20rem;
  padding: 0.5rem 3rem;
  margin: 1rem;
}
.stonenameinput {
  font-size: 1rem;
  text-align: center;
  width: 20rem;
  padding: 0.5rem 3rem;
  margin: 1rem;
}
.tokeninput {
  text-align: center;
  width: 12rem;
  padding: 0.5rem 1rem;
  margin: 1rem;
}
.tokenbtn {
  padding: 0.5rem 2rem;
  border: 0;
  outline: 0;
  background-color: white;
  color: black;
}
.registertext {
  text-align: center;
}
.profileimg {
  width: 10rem;
  margin-top: 5rem;
  margin-bottom: 1.5rem;
}
.memberimg {
  width: 10rem;
  margin: 2rem;
  vertical-align: middle;
}
.mainimg {
  text-align: center;
  vertical-align: middle;
  width: 20rem;
}
.membername {
  font-weight: bolder;
  font-size: 2rem;
  vertical-align: middle;
}
a:link {
  color: rgb(255, 255, 255);
}
a:visited {
  color: rgb(255, 255, 255);
}
a:hover {
  color: rgb(255, 255, 255);
}
a:active {
  color: rgb(255, 255, 255);
}
